body {
    background-color: darkslateblue;
}

.orangeBox {
    background-color: orangered;
    position: relative;
    top: 5%;
    left: 5%;
    width: 140px;
    height: 140px;
    cursor: pointer;
}

.blueBox {
    display: inline-block;
    background-color: rgb(22, 87, 172);
    width: 155px;
    height: 155px;
    margin: 10px;
}

.hold {
    border: 2px solid white;
}

.hide {
    display: none;
}